@import "highlight"

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 200
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_extrathin.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 300
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_thin.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 500
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_medium.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 600
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_semibold.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 700
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_bold.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 800
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_bold.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 900
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_bold.woff') format("woff")

@font-face
  font-family 'Myriad Set Pro'
  font-style normal
  font-weight 400
  src local('☺︎'), url('http://obfnm2kw5.bkt.clouddn.com/myriad-set-pro_text.woff') format("woff")

body
  font-family 'Myriad Set Pro'
  -webkit-font-smoothing antialiased
  display flex
  flex-flow column
  min-height 100vh

h1
  font-size 50px
  font-weight 200
  line-height 1.0625
  letter-spacing -0.02em

h2
  font-size 42px
  line-height 1.07885
  letter-spacing -0.016em
  font-weight 200

h3
  font-size 36px
  line-height 1.1
  letter-spacing -0.008em
  font-weight 300

h4
  font-size 32px
  line-height 1.1
  letter-spacing -0.008em
  font-weight 300

h5
  font-size 26px
  line-height 1.1
  letter-spacing -0.008em
  font-weight 400

h6
  font-size 22px
  line-height 1.1
  letter-spacing -0.008em
  font-weight 400

a
  color: #555

.content
  flex 1
  font-size 14px
  line-height 1.7375
  letter-spacing 0.018em
  font-weight 300
  margin 0 auto
  width 60%
  color: #555
  img
    max-width 100%

.header
  background black
  height 110px
  width 100%
  div
    display inline-block
    height 50%
    width 10%
    margin-top 5px
  a
    text-decoration none
  span
    -webkit-transition color 0.5s
    -moz-transition    color 0.5s
    -ms-transition     color 0.5s
    -o-transition      color 0.5s
    transition         color 0.5s
  span:hover
    color grey
  &__title
    margin-left 50px
    width 15% !important
    margin-bottom 10px
    overflow hidden
    &__image
      height 255px
      width 180px
      margin-top -35px
      margin-left -10px
      background-image url(http://obfnm2kw5.bkt.clouddn.com/sinux-demo.svg)
      background-repeat no-repeat
      background-size contain
  &__archive
    margin-left 50px
    &__image
      height 55px
      margin 10px
      background-image url(http://obfnm2kw5.bkt.clouddn.com/icon-api.svg)
      background-repeat no-repeat
    &__title
      margin-left 12px
      font-size 12px
      display block
      color white
  &__github
    margin-left 50px
    &__image
      height 48px
      margin 10px
      background-repeat no-repeat
      background-image url(http://obfnm2kw5.bkt.clouddn.com/github-white.svg)
    &__title
      margin-left 16px
      font-size 12px
      display block
      color white
  &__about
    margin-left 50px
    &__image
      height 55px
      margin 10px
      background-repeat no-repeat
      background-image url(http://obfnm2kw5.bkt.clouddn.com/icon-sample-code.svg)
    &__title
      margin-left 20px
      font-size 12px
      display block
      color white
  &__feed
    margin-left 50px
    &__image
      height 45px
      margin 10px
      background-repeat no-repeat
      background-image url(http://obfnm2kw5.bkt.clouddn.com/iDz5nGfVur.svg)
      background-size contain
    &__title
      margin-left 20px
      font-size 12px
      display block
      color white

.footer
  text-align center
  color #999
  margin 0 auto
  font-size 12px
  letter-spacing 0.03em
  width 100%
  height 5%
  left 0
  padding-top 20px
  padding-bottom 20px
  a
    color #555

.post-title-wrapper
  text-align center
  margin-bottom 2%

.post-title
  color #555
  text-decoration none

.post-date
  margin-top -20px
  padding-bottom 10px
  text-align center

.archive
  margin-top 5%

.archive-item
  div
    margin-top 1%
    margin-bottom 1%
  &__link
    color #555
    &__time
      letter-spacing 0.04em
      display inline-block
      width 15%
    &__title
      display inline
      margin-left 5%
